@model IEnumerable<DoAnTMDT.Models.Product>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h1>Danh sách sản phẩm</h1>

<p>
    <a asp-action="AddProduct">Thêm sản phẩm</a>
</p>
<table class="table" id="product_tbl">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductName)*@
                Tên sản phẩm
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductPrice)*@
                Giá
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SmallSizeQuantity)*@
                Size nhỏ
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MediumSizeQuantity)*@
                Size vừa
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.LargeSizeQuantity)*@
                Size lớn
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ImagePath)*@
                Hình ảnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SmallSizeQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediumSizeQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LargeSizeQuantity)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ImagePath)*@
                    <img src="@Url.Content(item.ImagePath)" style="height:50px; width:50px" />

                </td>
                <td>
                    <a asp-action="EditProduct" asp-route-id="@item.ProductID">Chỉnh sửa</a> |
                    <a asp-action="DetailProduct" asp-route-id="@item.ProductID">Chi tiết</a> |
                    <a asp-action="DeleteProduct" asp-route-id="@item.ProductID">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#product_tbl').DataTable();
        });
    </script>
}
