@model IEnumerable<Cart>
<div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="badge badge-light">@ViewBag.Total cái</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        @foreach (var item in Model)
        {
            @foreach (var cartItem in item.CartDetails)
            {
                <div class="d-inline-flex align-items-center p-2 bd-highlight" style="width:25em">
                    <img src="@Url.Content(cartItem.Product.ImagePath)" class="w-50" />
                    <p class="font-weight-bold ml-2" href="#">
                        @cartItem.Product.ProductName
                        <br />
                        $@cartItem.Product.ProductPrice
                        <br />
                        @cartItem.Quantity cái
                    </p>
                </div>
            }
            <a class="btn btn-lg btn-dark" asp-controller="Home" asp-action="Checkout" asp-route-id="@item.CartID">MUA LUÔN</a>
        }
    </div>
</div>
