@model ApplicationUser
@{
    ViewData["Title"] = "Thông tin của bạn đó";
    int count = 1;
}


<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form method="post" autocomplete="off">
                    @if (Model.DeliveryInfo != null)
                    {
                        <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
                            <select class="js-select2 select2-hidden-accessible" name="addressValue" tabindex="-1" aria-hidden="true">
                                <option value="-1">Địa chỉ giao hàng</option>
                                @if (Model.DeliveryInfo.Count == 1)
                                {
                                    <option value="@Model.DeliveryInfo.Single().AddressValue">@Model.DeliveryInfo.Single().Address</option>
                                    <option value="2">Thêm địa chỉ</option>
                                }
                                else if (Model.DeliveryInfo.Count == 0)
                                {
                                    <option value="1">Thêm địa chỉ</option>
                                }
                                else
                                {
                                    @foreach (var diachi in Model.DeliveryInfo)
                                    {
                                        <option value="@diachi.AddressValue">@diachi.Address</option>
                                    }
                                }
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    }

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="diachi" placeholder="Your Address">
                    </div>

                    <div class="bor8 m-b-30">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="sdt" placeholder="Your Phone Number">
                    </div>

                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Thay đổi địa chỉ
                    </button>
                </form>
            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                @foreach (var diachi in Model.DeliveryInfo)
                {
                    <div class="flex-w w-full p-b-42">
                        <span class="fs-18 cl5 txt-center size-211">
                            <span class="lnr lnr-map-marker"></span>
                        </span>

                        <div class="size-212 p-t-2">
                            <span class="mtext-110 cl2">
                                Địa chỉ @count
                            </span>
                            <p class="stext-115 cl6 size-213 p-t-18">
                                Địa chỉ : @diachi.Address 
                                <br />
                                SĐT : @diachi.Phone
                            </p>
                        </div>
                    </div>
                    count++;
                }
            </div>
        </div>
    </div>
</section>