@model IEnumerable<Product>


@foreach (var product in Model)
{
    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
        <!-- Block2 -->
        <div class="block2">
            <div class="block2-pic hov-img0">
                <img src="@product.ImagePath" alt="IMG-PRODUCT">

                <a href="#" @*onclick="showInPopup(@product.ProductID, event)"*@ class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" data-productid="@product.ProductID">
                    Quick View
                </a>
            </div>

            <div class="block2-txt flex-w flex-t p-t-14">
                <div class="block2-txt-child1 flex-col-l ">
                    <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 name">
                        @product.ProductName
                    </a>

                    <span class="stext-105 cl3 price">
                        @product.ProductPrice $
                    </span>
                </div>

                <div class="block2-txt-child2 flex-r p-t-3">
                    <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                        <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
                    </a>
                </div>
            </div>
        </div>
    </div>







    @*<div class="col-md-4 col-6 my-4">
            <div class="card-transition">
                <img src="@Url.Content(product.ImagePath)" class="img-fluid" />
                <div class="info">
                    <h6 class="text-center" style="font-size:1.2rem">@product.ProductName</h6>
                    <p class="text-center" style="font-size:1.3rem"> € @product.ProductPrice</p>
                    <button class="w-100" onclick="location.href='@Url.Action("AddCart", new { itemID = product.ProductID })'">Mua luôn</button>
                </div>
            </div>
        </div>*@

}

