@model DoAnTMDT.ViewModels.TrackCartViewModel
@{
    ViewData["Title"] = "Tracking giỏ hàng";
}

@{
    void RenderCssClass(bool isCompleted)
    {
        if (isCompleted)
        {
            <li class="step0 active"></li>
        }
        else
        {
            <li class="step0"></li>
        }
    }

    void RenderShippingStatus(bool isCompleted, Cart cart)
    {
        if (isCompleted)
        {
            <div class="align-self-center">
                <p class="font-weight-bold">Hàng đã được giao</p>
                <p class="font-weight-light"></p>
            </div>
        }
        else
        {
            <div class="align-self-center">
                <p class="font-weight-bold">Hàng đang được giao</p>
                <p class="font-weight-light">Hàng sẽ được giao trong khoảng 2-3 ngày</p>
            </div>
        }
    }


    void RenderPaymentStatus(bool isCompleted, Cart cart)
    {
        if (isCompleted)
        {
            <div class="align-self-center">
                <p class="font-weight-bold">Đã thanh toán</p>
                <p class="font-weight-light">@cart.PayDate</p>
            </div>
        }
        else
        {
            <div class="align-self-center">
                <p class="font-weight-bold">Chưa thanh toán</p>
                <p class="font-weight-light"></p>
            </div>
        }
    }

    void RenderButton(bool isCompleted, string cartID)
    {
        if (isCompleted)
        {
            <button type="button" class="w-100 btn btn-outline-dark font-weight-bold" disabled>Đơn hàng đã hoàn tất</button>
        }
        else
        {
            <button type="button" class="w-100 btn btn-outline-dark font-weight-bold confirmed-cart" data-cartid="@cartID">Xác nhận hoàn thành đơn hàng</button>
        }
    }
}

<link href="~/css/trackcart.css" rel="stylesheet" />


<h4 class="text-center ltext-109 cl2 p-t-50">Orders đã hoàn tất</h4>
@if (Model.CompletedOrders.Count() != 0)
{
    @foreach (var cart in Model.CompletedOrders)
    {
        <div>
            <div class="card">
                <div class="row d-flex justify-content-between px-3 top">
                    <div class="d-flex flex-column">
                        <p>MÃ ĐƠN HÀNG <span class="text-primary font-weight-bold">#@cart.CartID</span></p>
                        <p>Hình thức <span class="text-primary font-weight-bold">@(cart.IsCOD ? "COD": "Thanh toán bằng Paypal")</span></p>
                    </div>
                    <div class="d-flex flex-column text-sm-right">
                        <p class="mb-0">Thời gian dự kiến hàng được giao <span>@cart.PayDate.AddDays(3).ToString("dd/MM/yyyy")</span></p>
                        <p>Đơn vị vận chuyển <span class="font-weight-bold">Lương Sơn Hiền Express</span></p>
                    </div>
                </div> <!-- Add class 'active' to progress -->
                <div class="row d-flex justify-content">
                    <div class="col-12">
                        <ul id="progressbar" class="text-center">
                            <li class="active step0"></li>
                            <li class="active step0"></li>
                            @{RenderCssClass(cart.IsCompleted); }
                            @* Nếu thuộc tính IsCompleted là true thì thêm class active vào element li trên *@
                        </ul>
                    </div>
                </div>
                <div class="row d-flex justify-content-between top">
                    <div class="row d-flex icon-content">
                        <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                        <div class="align-self-center">
                            <p class="font-weight-bold">Đặt hàng thành công</p>
                            <p class="font-weight-light">@cart.OderDate</p>
                        </div>
                    </div>
                    <div class="row d-flex icon-content">
                        <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                        @{ RenderPaymentStatus(cart.IsPayed, cart);}
                    </div>
                    <div class="row d-flex icon-content">
                        <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                        @{ RenderShippingStatus(cart.IsCompleted, cart);}
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-2">
                    <div class="col-md-10">
                        @{RenderButton(cart.IsCompleted, cart.CartID); }
                    </div>
                </div>
            </div>
        </div>
        <table class="table-shopping-cart">
            <tr class="table_head">
                <th class="column-1">SẢN PHẨM</th>
                <th class="column-2"></th>
                <th class="column-3">GIÁ</th>
            </tr>
            @foreach (var cartDetail in cart.CartDetails)
            {
                <tr class="table_row">
                    <td class="column-1">
                        <div class="how-itemcart1">
                            <img src="@Url.Content(cartDetail.Product.ImagePath)" alt="IMG">
                        </div>
                    </td>
                    <td class="column-2"> @cartDetail.Product.ProductName - x @cartDetail.Quantity</td>
                    @{
                        if (cart.IsCOD)
                        {
                            <td class="column-3">$ @cartDetail.Product.ProductPrice</td>
                        }
                        else
                        {
                            <td class="column-3">$ @(cartDetail.Product.ProductPrice - cartDetail.Product.ProductPrice*20/100)</td>
                        }
                    }
                </tr>
            }
        </table>
    }
}
else
{
    <h3 class="text-center">Trống trơn</h3>
}


<h1 class="text-center ltext-109 cl2 p-t-50">Orders chưa hoàn tất</h1>
@if (Model.InCompletedOrders.Count() != 0)
{
    @foreach (var cart in Model.InCompletedOrders)
    {
        <div class="card">
            <div class="row d-flex justify-content-between px-3 top">
                <div class="d-flex flex-column">
                    <p>MÃ ĐƠN HÀNG <span class="text-primary font-weight-bold">#@cart.CartID</span></p>
                    <p>Hình thức <span class="text-primary font-weight-bold">@(cart.IsCOD ? "COD": "Thanh toán bằng Paypal")</span></p>
                </div>
                <div class="d-flex flex-column text-sm-right">
                    <p class="mb-0">Thời gian dự kiến hàng được giao <span>@cart.PayDate.AddDays(3).ToString("dd/MM/yyyy")</span></p>
                    <p>Đơn vị vận chuyển <span class="font-weight-bold">Lương Sơn Hiền Express</span></p>
                </div>
            </div> <!-- Add class 'active' to progress -->
            <div class="row d-flex justify-content">
                <div class="col-12">
                    <ul id="progressbar" class="text-center">
                        <li class="active step0"></li>
                        @{RenderCssClass(cart.IsPayed); }
                        <li class="step0"></li>
                        @* Nếu thuộc tính IsCompleted là true thì thêm class active vào element li trên *@
                    </ul>
                </div>
            </div>
            <div class="row d-flex justify-content-between top">
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                    <div class="align-self-center">
                        <p class="font-weight-bold">Đặt hàng thành công</p>
                        <p class="font-weight-light">@cart.OderDate</p>
                    </div>
                </div>
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                    @{ RenderPaymentStatus(cart.IsPayed, cart);}
                </div>
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                    <div class="align-self-center">
                        <p class="font-weight-bold">Hàng đang được giao</p>
                        <p class="font-weight-light"></p>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-2">
                <div class="col-md-5">
                    <button type="button" class="w-100 btn btn-outline-dark font-weight-bold deleted-cart" data-cartid="@cart.CartID">Hủy đơn</button>
                </div>
                <div class="col-md-5">
                    <button type="button" class="w-100 btn btn-outline-dark font-weight-bold confirmed-cart" data-cartid="@cart.CartID">Xác nhận hoàn thành đơn hàng</button>
                </div>
            </div>
        </div>
        <table class="table-shopping-cart">
            <tr class="table_head">
                <th class="column-1">SẢN PHẨM</th>
                <th class="column-2"></th>
                <th class="column-3">GIÁ</th>
            </tr>
            @foreach (var cartDetail in cart.CartDetails)
            {
                <tr class="table_row">
                    <td class="column-1">
                        <div class="how-itemcart1">
                            <img src="@Url.Content(cartDetail.Product.ImagePath)" alt="IMG">
                        </div>
                    </td>
                    <td class="column-2"> @cartDetail.Product.ProductName - x @cartDetail.Quantity</td>
                    @{
                        if (cart.IsCOD)
                        {
                            <td class="column-3">$ @cartDetail.Product.ProductPrice</td>
                        }
                        else
                        {
                            <td class="column-3">$ @(cartDetail.Product.ProductPrice - cartDetail.Product.ProductPrice*20/100)</td>
                        }
                    }
                </tr>
            }
        </table>
    }
}
else
{
    <h3 class="text-center">Trống</h3>
}

@section Scripts {
    <script>
    $('.confirmed-cart').each(function () {
        $(this).on('click', function (e) {
            let cartID = $(this).data('cartid');

            $.ajax({
                data: { id: cartID },
                type: 'POST',
                url: '@Url.Action("ConfirmCompleted", "Home")',
                success: function (res) {
                    setTimeout(location.reload.bind(location), 3000);
                    Swal.fire("Thành công", "Đơn hàng đã hoàn tất, nhớ review bạn nhớ", "success");
                },
                error: function (res) {
                    console.log(res);
                }
            });

            e.preventDefault();
        });
    });

         $('.deleted-cart').each(function () {
        $(this).on('click', function (e) {
            let cartID = $(this).data('cartid');

            $.ajax({
                data: { id: cartID },
                type: 'POST',
                url: '@Url.Action("ConfirmDeleted", "Home")',
                success: function (res) {
                    setTimeout(location.reload.bind(location), 3000);
                    Swal.fire("Thành công", "Đơn hàng đã được hủy thành công :(", "success");
                },
                error: function (res) {
                    console.log(res);
                }
            });

            e.preventDefault();
        });
    });
    </script>
}
